In [1]:
import pandas as pd
from anytree import Node, RenderTree
import random
import string

from functions import *
from Twitter_functions import *

In [2]:
with open('Authentication/twitter_bearer_token.txt', 'r', encoding="utf8") as f:
    token = f.read()

header = create_Twitter_headers(token)
max_results = 100

# The Straits Times
## Get Tweets

In [3]:
ST_id = '37874853'
ST_tweets = getTweetsByUserID(ST_id, header, 5)

generateTweetInformation(ST_tweets, header)

Tweet ID: 1522569509692788736 Time: 2022-05-06T13:30:33.000Z
3,420 new Covid-19 cases in Singapore on Friday, down from 4,733 the day before https://t.co/jvIkiDNAMn

Tweet ID: 1522562721757024256 Time: 2022-05-06T13:03:35.000Z
RT @STForeignDesk: Russia, West in long-term rivalry: Top French general https://t.co/Aj6hlN4fjt

Tweet ID: 1522562714735833089 Time: 2022-05-06T13:03:33.000Z
RT @STForeignDesk: Ukraine finance minister calls for total embargo on Russian oil and gas https://t.co/tD7MojH0Rd

Tweet ID: 1522559440146247680 Time: 2022-05-06T12:50:32.000Z
RT @STForeignDesk: Taiwan jets scramble as China air force enters air defence zone https://t.co/3PW4U7WB6j

Tweet ID: 1522555793630851072 Time: 2022-05-06T12:36:03.000Z
RT @STForeignDesk: Europe sees travel recovery as Covid-19 restrictions ease https://t.co/WnOwN0kEWW

In [4]:
# query = '@straits_times'
# tweets_url = f'https://api.twitter.com/2/tweets/search/recent?query={query}&max_results={max_results}'
# connect_to_endpoint(tweets_url, header)

## Get Conversation

In [5]:
conversation_id = '1513829591038627840'
ST_conversation_data = getConversation(conversation_id, max_results, header)

In [6]:
ST_conversation_data

{'meta': {'result_count': 0}}

In [7]:
# for i in ST_conversation_data['data']:
#     print(i['author_id'])

In [8]:
# getTweetsByUserID('1422221555950518275', header, 25)

In [9]:
# ST_result = getTweetComments(ST_conversation_data)

In [10]:
# ST_df = processTwitterDataframe(ST_result, ST_id, conversation_id, uri, False)
# ST_df.head()

# Channel NewsAsia / Mothership
## Get Tweets

In [11]:
# CNA_tweets = getTweetsByUserID('38400130', header) # CNA
CNA_tweets = getTweetsByUserID('1619325942', header, 5) # Mothership

generateTweetInformation(CNA_tweets, header)

Tweet ID: 1522535780425420805 Time: 2022-05-06T11:16:32.000Z
M'sia employee takes time off for pimple pain, itchy scalp, fainting spell &amp; more, works only 16 out of 40 days https://t.co/puIPDNitGj https://t.co/3LEuYm0weS

Tweet ID: 1522503753189916672 Time: 2022-05-06T09:09:16.000Z
Pastry cafe Mr Holmes Bakehouse opens 2nd outlet near Raffles Place MRT: https://t.co/khVGchbsul https://t.co/VzJPVdJcHY

Tweet ID: 1522494862766993408 Time: 2022-05-06T08:33:56.000Z
PM Lee receives Johor’s highest award from Johor Sultan https://t.co/RkBfD6Knkg https://t.co/K3WDdU23pD

Tweet ID: 1522488466394673152 Time: 2022-05-06T08:08:31.000Z
Japan might allow tourist groups as soon as this month: Report https://t.co/sU4QfWJE5S https://t.co/oBjXdwMxh4

Tweet ID: 1522467680174829568 Time: 2022-05-06T06:45:55.000Z
S’pore man donates new orchids to family after vandal cuts their flowers at HDB corridor https://t.co/oSMoXjNa0O https://t.co/wPLwwljiJh

## Get Conversation

In [12]:
conversation_id = '1519629461989199872'
CNA_conversation_data = getConversation(conversation_id, max_results, header)

result = getTweetComments(CNA_conversation_data)

User ID: 1518881004655906816 Time: 2022-04-30T00:18:38.000Z
In reply to: 1503222336937361408
@TypicalFarm @jazonbond @MothershipSG The mules are unforgivable, they should be acquitted for their mistakes, I hated them…but a human er, he have to die? Can’t we give him a chance? to repent? How many chances have people given to you in life, why can’t they have 1? Life sentence could be more appropriate..

User ID: 1503222336937361408 Time: 2022-04-30T00:03:13.000Z
In reply to: 1143902127040761857
@Karuppudevathai @MothershipSG I think it is more of telling idiots on the internet not to believe in the false information.
People say that they are mentally disabled in an attempt to escape the law are going to risk Sacrificing actual mentally disabled people to the drug lords just for their survival

User ID: 1503222336937361408 Time: 2022-04-29T23:59:19.000Z
In reply to: 1518881004655906816
@Tukuku08 @jazonbond @MothershipSG The addicts you helped are probably those who consumed or purchased the drugs, which can be forgivable, but I don't think people who smuggle drugs Into a country in an attempt to sell it can be forgiven. Willing to destroy an entire country just to earn a few dollars

In [13]:
CNA_df = processTwitterDataframe(result, '1619325942', conversation_id, uri, False)
CNA_df.head()

Conversation has been updated in the database.

,id,timestamp,reply_to,comment,social_media,conversation_id,head_id,user_id,url,link_title
0,10000,2022-04-30T00:18:38.000Z,10001,@TypicalFarm @jazonbond @MothershipSG The mule...,Twitter,1519629461989199872,1619325942,1518881004655906816,,
1,10001,2022-04-30T00:03:13.000Z,nan,@Karuppudevathai @MothershipSG I think it is m...,Twitter,1519629461989199872,1619325942,1503222336937361408,,
2,10002,2022-04-29T23:59:19.000Z,10000,@Tukuku08 @jazonbond @MothershipSG The addicts...,Twitter,1519629461989199872,1619325942,1503222336937361408,,